* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #548687;
  text-align: center;
}

.container {
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.game {
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1.5vmin;
}

.box {
  height: 18vmin;
  width: 18vmin;
  border-radius: 1rem;
  border: none;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  font-size: 10vmin;
  background-color: #ffffc7;
  color: black;
}

#reset-btn {
  padding: 1rem;
  font-size: 1.25rem;
  background-color: #191913;
  color: white;
  border: none;
  border-radius: 1rem;
}

#new-btn {
  padding: 1rem;
  font-size: 1.25rem;
  background-color: #191913;
  color: white;
  border: none;
  border-radius: 1rem;
}
#msg {
  color: white;
  font-size: 5vmin;
}

.msg-container {
  height: 15vmin;
}

.hide {
  display: none;
}
